<!--The content below is only a placeholder and can be replaced.-->
<div class="bod">
  <div style="text-align:center">
  <img width="300" alt="Quote Logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj2xoXVr5ka-ux21iZ7jqI0j8jXcHHFZHqhwW4EMFSTJ1Tdcd_bg">
  <!-- <div style="text-align:center"> -->
    <h1 class="tit">
      ....This form is used to expose {{ title }} of your choice....
    </h1>
  </div>
  <div class="q">
    <h1>Some quotes</h1>
    <ol>
      <li *ngFor='let quote of quotes'>
        {{quote.name}}
      </li>
    </ol>
  </div>
</div>
<app-quote></app-quote>

<router-outlet></router-outlet>