<!-- <p>quote works!</p> -->
<div class="container">
    <!-- <h2>Quotes</h2> -->
    <hr>

    <ul>
        <div class="row">
            <div class="col-md-6">
                <div *ngFor='let quote of quotes;let i = index'>

                    <li>
                        {{quote.name}}
                    </li>

                    <button (click)='quoteDelete(true)' class="btn btn-outline-danger">Delete Quote</button>

                    <app-quote-detail *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>

                </div>
            </div>
            <div class="col-md-6">
                <app-quote-form></app-quote-form>
            </div>
        </div>
    </ul>
</div>