/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
body{
    font-family: 'EB Garamond', serif;
}
p,li,label{
    font-size: 20px;
}
li{
    font-weight: bold;
}
input{
    font-size: 20px;
}