/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css?family=Katibeh&display=swap');
body{
    font-family: 'Katibeh', cursive;
}
p,li,label{
    font-size: 31px;
}
li{
    font-weight: bold;
}
input{
    font-size: 26px;
}